<div class="c-table">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Biller</th>
      <th scope="col">Account</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    <tr>
      <td>25.25.12</td>
      <td>Some cool customer</td>
      <td>Another Nice Biller</td>
      <td>12341234</td>
      <td>56,66$</td>
    </tr>
    </tbody>
  </table>
</div>
