<div class="form-group" style="width: 210px; font-size: 14px">
  <select class="form-control" id="exampleSelect1">
    <option value="" selected disabled>Some cool Customer</option>
    <option>Some cool biller</option>
    <option>Some cool biller</option>
    <option>Some cool biller</option>
    <option>Some cool biller</option>
    <option>Some cool biller</option>
  </select>
</div>
