<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="d-flex justify-content-end">
        <a routerLink="/payments">Payments</a>
        <a routerLink="/customers">Customer</a>
        <a routerLink="/billers">Billers</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
