<div class="row d-flex justify-content-between">
  <div class="col-md-5 d-flex justify-content-between">
    <app-select-customer></app-select-customer>
    <app-select-biller></app-select-biller>
  </div>
  <div class="col-md-6 d-flex justify-content-end">
    <app-detail-button></app-detail-button>
  </div>
</div>
<app-table></app-table>
