<form novalidate
      [formGroup]="myform">

  <fieldset formGroupName="name">

    <div class="form-group">
      <label>Customer</label>
      <select class="form-control"
              formControlName="customer">
        <option value="">Some cool Customer</option>
        <option *ngFor="let customer of customers"
                [value]="customer">{{ customer }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>BIller</label>
      <select class="form-control"
              formControlName="biller">
        <option value="">Some cool Biller</option>
        <option *ngFor="let biller of billers"
                [value]="biller">{{ biller}}
        </option>
      </select>
    </div>
  </fieldset>

  <div class="form-group">
    <label>Account</label>
    <input type="text"
           class="form-control"
           formControlName="account">
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="text"
           class="form-control"
           formControlName="amount">
  </div>
  <app-pay-button></app-pay-button>
  <!--<pre>{{ myform.value | json }}</pre>-->
</form>
