<form novalidate
      [formGroup]="myform">

  <fieldset formGroupName="name">
    <div class="form-group">
      <label>Customer Name</label>
      <input type="text"
             class="form-control"
             formControlName="account">
    </div>
    <div class="form-group">
      <label>Biller Name</label>
      <input type="text"
             class="form-control"
             formControlName="account">
    </div>
    <div class="form-group">
      <label>Account</label>
      <input type="text"
             class="form-control"
             formControlName="account">
    </div>
    <div class="form-group">
      <label>Amount</label>
      <input type="text"
             class="form-control"
             formControlName="amount">
    </div>
  </fieldset>
  <app-btn-submit></app-btn-submit>
  <!--<pre>{{ myform.value | json }}</pre>-->
</form>
